# ==========================================
# FRONTEND - SENAVICOLA
# ==========================================

# Angular
.angular/
.sass-cache/
.history/

# Archivos generados
typings/
__screenshots__/

# Logs específicos
testem.log
libpeerconnection.log

# Archivos generados
connect.lock