# ==========================================
# BACKEND - SENAVICOLA
# ==========================================

# Base de datos local
/postgres
db_sistema.sql

# Peticiones / archivos locales
/peticiones

# NestJS / TypeScript
*.tsbuildinfo

# Reportes de Node
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json